@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#333;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);
    --primaryColor: #3498db;
    --secondaryColor: #f1c40f;
    --accentColor: #e74c3c;
}

[data-theme="dark"]{
    --mainTextColor:#fff;
    --secondaryTextColor:#adb0b1;
    --mainLinkColor:rgb(30, 190,214);
    --mainBorderColor:#2b3031;
    --mainBgColor:#131415;
    --formBgColor:#1e1f1f;
    --inputBgColor:#333;
    --inputTextColor:#fff;
    --primaryColor: #2ecc71;
    --secondaryColor: #e67e73;
    --accentColor: #9b59b6;
}

*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
}

body{
    background-color: var(--mainBgColor);
    padding: 0;
    margin: 0;
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
    transition: color 0.3s ease;
}

a:hover{
    color: var(--primaryColor);
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
    background-color: var(--mainBgColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--mainBorderColor);
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#bio, a{
    font-weight: 300;
}

#user-name{
    font-size: 48px;
    line-height: 1em;
    color: var(--primaryColor);
}

#profile-pic{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--mainBorderColor);
}

#email{
    color: var(--mainTextColor);
}

#socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: color 0.3s ease;
}

#socials--list a:hover{
    color: var(--primaryColor);
}

#qualifications--list{
    list-style: none;
    padding: 0;
    margin: 0;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack{
    border: 2px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--mainBgColor);
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 2px solid var(--mainBorderColor);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card--project a{
    color: var(--mainTextColor);
    transition: color 0.3s ease;
}

.card--project a:hover{
    color: var(--primaryColor);
}

.card--work-history{
    border-left: 2px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

@media(max-width:600px){
   .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 3em;
    }

    #wrapper--hero{
        display: flex;
        align-items: center;
        gap: 1em;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }

    #wrapper--hero{
        flex-direction: column;
    }

   .card--work-history{
        border-left: none;
        padding-left: 0;
    }
}

/* Form CSS */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid var(--mainBorderColor);
    z-index: 9;
    background-color: var(--mainBgColor);
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

[data-theme="dark"].form-popup {
    background-color: var(--formBgColor);
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container h3 {
    margin-bottom: 15px;
    font-weight: 500;
    color: var(--mainTextColor);
}

.form-container label {
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--mainTextColor);
}

.form-container input[type=text],.form-container input[type=email] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    background: #f1f1f1;
    color: #333;
}

[data-theme="dark"].form-container input[type=text], 
[data-theme="dark"].form-container input[type=email] {
    background: var(--inputBgColor);
    color: var(--inputTextColor);
}

.form-container .btn {
    background-color: var(--primaryColor);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.form-container .btn:hover {
    background-color: #0b7c99;
}

.form-container .cancel {
    background-color: var(--accentColor);
}

.form-container .cancel:hover {
    background-color: #990000;
}